body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4b0082;
  color: #fff;
  padding: 10px 20px;
}

header .logo {
  font-family: 'Cinzel Decorative', serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#FFD700;
}

.logo {
  text-decoration: none; 
  font-size: 1.5rem; 
  font-weight: bold; 
  color: silver; 
  cursor: pointer;
}

.logo:hover {
  color: #555; 
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  font-family: 'Cardo', serif;
  color: #fff;
  text-decoration: none;
}

/* 标题 */
.hero {
  position: relative; 
  text-align: center;
}

.hero img {
  width: 100%; 
  height: 400px; 
  object-fit: cover; 
}

.hero .content {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  background: rgba(0, 0, 0, 0);
  padding: 200px;
  border-radius: 100px;
}

.content h1{
font-family: 'Cormorant Garamond', serif; 
  font-size: 4em;
}

.content p{
 font-family: 'Crimson Text', serif; 
  font-size: 1.5em;
}

main {
  padding: 20px;
}

.section {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: justify;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section h2{
  text-align: center;
  font-family: 'Caudex', serif; 
  font-size: 1.9em;
}

.section p{
  font-family: 'Georgia', serif; 
  font-size: 1.2em;
}

.section h3{
  font-family: 'Georgia', serif; 
  font-size: 1.4em;
}

.section h4{
  text-align: center;
  font-family: 'Georgia', serif; 
  font-size: 1.4em;
}

.section ul li{
  font-family: 'Georgia', serif; 
  font-size: 1.3em;
}

.section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
}
